.gjs-logo {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  margin-right: 10px !important;
}

.gjs-logo img {
  height: 20px !important;
  width: auto !important;
  display: inline-block !important;
  max-height: 20px !important;
}

.gjs-logo-panel {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #333;
}

.gjs-logo-panel img {
  height: 20px;
}

.gjs-logo-btn img {
  height: 23px;
  width: auto;
  display: block;
}

/* Main editor background */
.gjs-one-bg {
  background-color: #1e1e1e !important;
}

/* Secondary panels */
.gjs-two-color {
  color: #e0e0e0 !important;
}

/* Buttons & accents */
.gjs-three-bg {
  background-color: #333 !important;
}

.gjs-four-color {
  color: #4dabf7 !important;
}

/* Canvas background */
.gjs-cv-canvas {
  background-color: #121212;
}